RewriteEngine on

RewriteCond %{HTTP_HOST} ^mattiesaustin.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.mattiesaustin.com$
RewriteCond %{REQUEST_URI} !web/

RewriteRule (.*) web/$1 [L]

<Files ~ ".env">
Deny from all
</Files>