#footer
	z-index: 100

	.lock &
		z-index: 500

	.lock &, .home &
		+cover(fixed)
		top: auto

	> [id]
		transition: .4s $easeOutSine

	&.close > [id]
		animation: none !important
		visibility: visible
		transform: translate(0, 47px)

	svg
		width: 129px

		.st0
			fill: $white !important

// -----------------------------------------------

#footer-top
	display: flex
	align-items: flex-end
	justify-content: space-between
	padding: 28px $pad

	@media (max-width: $small)
		display: none

	body:not(.home):not(.lock) &
		display: none

	a, span
		@extend %supText
		color: $white
		letter-spacing: tracking(80)

		.lock &
			color: $blue

// -----------------------------------------------

.social-block
	position: relative
	transition: 1s ease-in-out

	> a
		position: absolute
		left: 0
		bottom: 0

	&:not(:hover) .social,
	&:hover > a
		opacity: 0

	.social
		transition: inherit

	&:not(:hover) .social
		pointer-events: none

	.social a[href],
	.social .gform_wrapper
		display: inline-block
		vertical-align: bottom

	.social a + span
		margin: 0 10px

	.social form
		margin: 0 0 0 20px

		*
			display: inline
			vertical-align: middle
			color: $white
			margin: 0
			padding: 0

			.lock &
				color: $blue

		label
			@extend %supText

		.gform_body,
		.ginput_container,
		.gform_footer
			display: inline-block
			vertical-align: middle

		.ginput_container
			margin-left: $pad / 2

		input[type=email]:not([readonly])
			padding: 0
			color: $white
			border-color: currentColor !important

			.lock &
				color: $blue

			&::placeholder
				opacity: .7
				color: currentColor

				.lock &
					opacity: .5

		[type=submit]
			display: inline-block
			width: 7px
			height: 9px
			text-indent: -999em
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAJCAMAAADJhsaRAAAAJ1BMVEUAAABOW4ROW4ROW4ROW4ROW4ROW4ROW4ROW4ROW4ROW4ROW4ROW4TLySgCAAAADHRSTlMAECAwQFBgn6/P3+/YD3W5AAAAMElEQVQI12NgYGYAAxYeDkYwg42bCyLEzM3DBhHh4WEGS3CzgnmcTCBZHnaIRoguAB5NANEedjZqAAAAAElFTkSuQmCC) no-repeat

			body:not(.lock) &
				filter: brightness(100)

// -----------------------------------------------

#footer-bottom
	display: flex
	position: relative
	justify-content: center
	align-items: center
	text-align: center
	padding: 14px $pad
	background: $peach

	body:not(.home) &
		display: none

	p
		color: $blue
		font-size: 14px
		letter-spacing: tracking(75)
		margin: 0

	a
		text-decoration: none

		@media (min-width: $medium)
			margin-left: 50px
			text-decoration: underline

	.popup-link a:before
		content: 'Reserve Now'
		text-transform: uppercase

		@media (max-width: $small)
			content: 'Reserve a Table \00BB'

	.exit
		position: absolute
		right: $pad

// -----------------------------------------------

#footer-page
	display: flex
	color: #FFF
	text-transform: uppercase
	padding: $pad * 2 100px
	background: $blue

	.lock &
		display: none

	*
		display: inline-block
		margin: auto
		padding: 0
		vertical-align: middle

	.menu
		display: block
		width: 100%

	ul
		display: flex
		align-items: center
		width: 100%

		@media (min-width: $small)
			align-content: space-between

		@media (max-width: $small)
			flex-wrap: wrap
			justify-content: center
			text-align: center

			li
				width: 100%
				padding: 10px 0

	a
		color: $white
		font-weight: 700
		font-size: 11px

		&:hover
			text-decoration: underline

	img
		filter: brightness(0) invert(1)
