#menu
	z-index: 499
	+cover(fixed)
	transition: .3s $easeOutSine
	background: $white

	@media (max-width: $small)
		background: $blue
		padding-top: 112px
		color: $white

	@media (min-width: $small)
		display: flex
		align-items: center

		.scroller
			margin-top: -20px
			white-space: nowrap
			overflow: scroll

	&:not(.show)
		opacity: 0
		pointer-events: none

	figure
		opacity: 0
		user-select: none
		display: block
		position: relative
		vertical-align: top
		padding: 15px
		transition: none
		transform-origin: center

		@media (min-width: $small)
			display: inline-block
			width: 43%
			max-width: 468px
			padding: 0
			margin: 0 $pad / 2 $pad / 2 0

			&:first-child
				margin-left: $pad / 2

		img
			vertical-align: top

	&.show figure
		opacity: 1
		transition: 1s linear

		@for $i from 0 to 5
			&:nth-of-type(#{$i})
				transition-delay: .15s * $i

	figcaption
		pointer-events: none
		position: absolute
		top: $pad
		right: 0
		left: 0
		color: $white
		font-weight: 700
		font-size: 14px
		line-height: 1
		text-align: center
		text-transform: uppercase
		letter-spacing: tracking(75)

	figure > a
		@extend .full-bg
		display: block
		overflow: hidden
		transition: .4s $easeOutSine

		img
			visibility: hidden
			transform-origin: center
			transition: .4s $easeOutSine

		&:hover img
			visibility: visible
			transform: scale(1.02)