.btn
	+userSelect(none)
	position: relative
	display: inline-block
	+sq(auto)
	overflow: hidden
	vertical-align: middle
	font-size: 13px
	font-family: $font
	line-height: 1
	letter-spacing: tracking(85)
	padding: 10px 30px
	border-radius: 0
	box-shadow: none
	background: $blue

	&:hover
		text-decoration: none
		box-shadow: none
		background: lighten($blue, 10)