form
	margin: 50px auto

	.popup-card &
		margin: auto

	&.is-loading
		cursor: progress

		*
			pointer-events: none
			+opacity(.6)

		[type=submit]
			background: #CCC

	label,
	#ot-reservation-widget & [class*="label"]
		color: $blue
		font: 14px/1 $font
		letter-spacing: tracking(75)

	+inputs
		display: block
		width: 100%
		height: auto
		color: $blue
		font: 14px/1 $font
		letter-spacing: tracking(75)
		margin: 0
		padding: 5px 0
		border: 0
		border-bottom: 1px solid $blue
		box-sizing: border-box
		transition: .3s ease-in-out
		box-shadow: none
		background: none

		&:hover, &:focus, &:active
			outline: none !important
			border-color: $blue !important
			box-shadow: none !important

			+ label
				color: $blue

		+colourPlaceholder
			color: $blue

	select:not([readonly])
		cursor: pointer
		appearance: none
		-webkit-appearance: none
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAFCAYAAABmWJ3mAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEFJREFUeNpi9ItuKWBgYPBnQAWBTEBiARAbALEDFB/ctLTmAxOIAHImQlU+AOIJKHqBRt4H4gQGdAAUVEDmAwQYAHCYEMHs7Mu6AAAAAElFTkSuQmCC') 95% center no-repeat

		&::-ms-expand
			display: none

		option
			color: $default

	textarea
		max-height: 125px
		resize: none
		margin: 20px auto 0

	p
		text-align: inherit

// -----------------------------------------------

.gform_wrapper
	+clearfix

	.validation_error
		margin: 0 0 50px

	.validation_message
		color: red
		padding-top: 10px

	.gform_description,
	.gform_confirmation_message
		display: block
		margin: 0 0 50px

	#extensions_message
		display: block

	.gf_progressbar_wrapper
		margin: 0 0 50px

		.gf_progressbar_percentage
			display: none

	&[style="display:none"]
		display: block

	ul, li
		list-style: none
		margin: 0
		padding: 0

	.gform_body
		+clearfix

	.gfield_label
		display: none
		font-weight: 700

	ul li
		text-align: left
		margin: 0 0 35px
		padding: 0

		@media (min-width: 767px)
			float: left
			width: 50%

			&:nth-child(2n)
				padding-left: 20px

			&:nth-child(2n + 1)
				clear: left
				padding-right: 20px

				&:last-child
					width: 100%
					padding: 0

		&:before
			display: none

		&[style="display: none;"]
			+opacity(.25)
			pointer-events: none
			cursor: not-allowed

		span label
			display: block
			font-size: 13px
			margin: 7px 0 0

	.ginput_complex > span[class*="ginput_"]
		display: block
		margin: 0 0 15px

	.gfield_error
		+inputs
			border-bottom-color: red

	.gform_footer
		clear: both
		text-align: left
		margin: 0
		padding: 0

	.gform_page_footer input[type=button]
		display: inline-block
		margin: 0 10px

	img
		transform: translate(10px, 0)

// -----------------------------------------------

#rc span > a
	display: none

#rc-portal
	margin: auto

	fieldset
		border: 0
		margin: 0
		padding: 0

	legend,
	.required,
	.sectionHeaderLine,
	a[role=button],
	.rc-footnote
		display: none

	.rc-label-input-pair
		display: flex
		align-items: center
		justify-content: center
		margin: 0

		&:not(:last-child)
			margin-bottom: 10px

		.rc-input-column
			margin: 0 0 0 auto
			width: 62%

		[type=checkbox]
			position: static
			width: auto

	.rc-button-group
		width: calc(100% + 50000px)
		text-align: center
		margin: 25px auto 0

// -----------------------------------------------

#ot-reservation-widget
	.ot-title,
	.ot-powered-by
		display: none

	.ot-dtp-picker,
	.ot-dtp-picker-form,
	.ot-dtp-picker-selector
		width: auto
		border: 0
		background: none

	.ot-dtp-picker-button
		box-shadow: none

	.ot-dtp-picker-selector-link:after
		color: $blue

	.picker
		width: 256px
		height: 380px

		.picker__holder
			left: 0
			width: inherit
			box-shadow: none
			background: none

		.picker__frame
			top: 0
			left: 0

		.picker__header
			margin: 10px auto 20px

		.picker__nav--next,
		.picker__nav--prev
			padding: 0

			&:before
				color: transparent

		td, th
			font: 14px/1 $font
			padding: 0

			div
				font: inherit
				line-height: 1
				padding: 4px 0
