#gallery
	z-index: 600
	+cover(fixed)

	&:not(.open)
		pointer-events: none
		opacity: 0

	> a.cover
		z-index: 1
		pointer-events: none

		.exit
			cursor: pointer
			float: right
			margin: 46px $pad 0 0
			filter: brightness(0) invert(1)

	&.open .exit
		pointer-events: auto

	slideshow
		z-index: auto
		position: fixed
		+sq(100%)
		border: 0
		background: rgba(#000, .6)

	nav a
		z-index: 102

		@media (max-width: $small)
			top: auto
			bottom: 0

	nav a path
		fill: $white

	figure
		z-index: 102
		top: 50%
		right: auto
		bottom: auto
		left: 50%
		transform: translate(-50%, -50%)

		@media (max-width: $small)
			left: 10%
			right: 10%
			transform: translate(0, -50%)

		&.landscape
			left: 10%
			right: 10%
			transform: translate(0, -50%)

			img
				width: 100%
