.popup-card
	z-index: 700
	+cover(fixed)
	color: $blue
	background: rgba(#000, .5)
	animation: 0.4s ease-in-out fadeIn 1

	&:not(.open)
		opacity: 0
		pointer-events: none

	a.cover
		text-indent: -9999em

	.inner
		position: relative
		min-width: 475px
		text-align: center
		padding: 50px 100px
		background: $peach
		position: absolute
		left: 50%
		top: 50%
		+transform(translate(-50%, -50%))

		.exit
			position: absolute
			top: $pad !important
			right: $pad
	h2
		margin: 0 auto 50px
