slideshow
	$dist: 110px

	z-index: 100
	display: block
	position: relative
	min-height: 100vh
	background: #000

	@media (min-width: $small)
		&:before, &:after,
		figure:after
			content: ''
			z-index: 3
			position: absolute
			left: 0
			top: 0
			bottom: 0
			width: 121px
			background: linear-gradient(to left, rgba(#000, 0), rgba(#000, .25))

	&:after
		left: auto
		right: 0
		transform: scaleX(-1)

	figure
		+cover
		transition: opacity 1.3s $easeOutSine
		background: center no-repeat
		background-size: cover

		@media (min-width: $small)
			&:after
				right: 0
				top: auto
				width: auto
				height: 242px
				background: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, .25))

		&:not(.active)
			opacity: 0

		img
			visibility: hidden

	figcaption
		display: none

	nav a
		z-index: 5
		position: absolute
		top: calc(50% - 60px)
		padding: 25px
		transform: translate(0, -50%)

		svg
			width: 20px
			height: 14.36px
			vertical-align: middle

		&:first-child
			left: $pad - 25

			svg
				transform: scaleX(-1)

		&:last-child
			right: $pad - 25

		+bodyBg
			path
				fill: white

// -----------------------------------------------

.slideshow.inline
	slideshow
		border: 10px solid white
		min-height: 0
		background: none

		@media (max-width: $small)
			border: 6px solid white

	figure
		+sq(auto)
		text-align: center
		background: transparent !important

		@media (min-width: $small)
			&:after
				background-image: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, .5))

		img
			visibility: visible
			vertical-align: top

	figcaption
		z-index: 4
		display: block
		+cover
		top: auto
		bottom: 15px
		color: $white
		font-size: 11px
		text-align: center

	#page &
		nav a
			&:first-child
				left: -$pad * 2

				@media (max-width: $small)
					left: -65px

			&:last-child
				right: -$pad * 2

				@media (max-width: $small)
					right: 65px

		slideshow[data-bg="dark"] nav a
			filter: brightness(0) invert(1)

		@media (min-width: $small)
			&:not(:hover) nav a
				filter: opacity(0)

				&:first-child
					margin-left: -10px

				&:last-child
					margin-right: -10px